.pic{
  display: inline-block;
  padding: 0.5em;
  background: linear-gradient(130deg, #b0ff74, #a003fb);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 1.5s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 6.25em;
  height: 6.25em;
  border-radius: 50%;
}

.username{
  color:#d2691e;
  font-size: 1.75em;
  font-weight: 600;
  margin: 0.5em;
  
}

.userpos{
  color:#c3961c;
  font-size: 1.15em;
  font-weight: 600;
  margin: 0.5em;
}

.userbio{
  font-size: 1.125em;
  margin: 0.1em;
  width: 100%
}

div#profile_posts {
  height: 100%;
  margin: auto;
}

.blog {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div#content-left {
  margin-left: 10%;
  width: 80%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

.userinfo{
  display: flex;
  justify-content: center;
  align-items: center;
}

a#following_link {
  text-decoration: none !important;
  color: black;
}

a#following_link:hover {
  color: red;
}

a#follower_link {
  text-decoration: none !important;
  color: black;
}

a#follower_link:hover {
  color: red;
}

.button-success{
  margin: 0.4em;
}

#posts {
  padding-top: 0;
}

.fans{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fan {
  width: 80%;
  padding-left: 10%;
}

.content-right-large.activities {
  padding-bottom: 8px;
}

.content-right-large {
  margin-right: 4%;
  width: 96%;
  padding-top: 8px;
  background-color: white;
  text-align: center;
  border-radius: 0.5em;
}

.main_post_div {
  height: 100%;
}

.update-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form#update-form{
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

form#upload-form{
  width: 80%;
  margin: auto;
}

a#left-page-button, a#left-page-button:hover, a#left-page-button:focus, a#left-page-button:active, 
a#right-page-button, a#right-page-button:hover, a#right-page-button:focus, a#right-page-button:active {
  text-decoration: none;
  color: inherit;
}

#left-page-button {
  position: relative;
  right: 2.1em;
  top: -2.4em;
}

#right-page-button {
  position: relative;
  left: 2.1em;
  top: -2.4em;
}

div.page-buttons {
  text-align: center;
}

.hidden-link-button {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
}

.button_like {
  margin-top: 0.5em;
  display: inline-block;
}

.button_like img {
  height:1em;
  width:1em !important;
}

.like_button {
  padding-right: 0.5em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#comment_button {
  padding-left: 1em;
  cursor: pointer;
}

#remove-btn {
  margin-top: 1em;
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

#remove-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  div.activities {
    width: auto;
    margin-left: 3em;
    margin-right: 3em;
  }

  div#content-left {
    width: auto;
    margin-left: 3em;
    margin-right: 3em;
  }

  div#content-right {
    width: auto;
    margin-left: 3em;
    margin-right: 3em;
  }

  div#posts {
    width: 100%;
  }
}

h4#follows {
  padding-left: 1px;
  padding-right: 1px;
}

.ql-container{
  height:100px;
}